@font-face {
  font-family: "Open Sans";
  src: url("opensans.ttf") format("truetype");
}

:root {
  --main-text-color: #94aaff;
  --dark-text: #101218;
  --dark-background: #101218;
  --light-background: #fffeff;
    font-size: 1vw;
  --font-size-small: 1.3rem;
  --font-size-medium: 2.2rem;
  --font-size-large: 3rem;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Open Sans";
  background-color: var(--light-background);
  color: var(--main-text-color);
  transition: color 0.1s ease;
  margin: 0;
  user-select: none;
  padding-bottom: 7rem;
}

button {
  background: transparent;
  color: var(--dark-text);
  border-width: 0;
  cursor: pointer;
  font-weight: 200;
  font-size: var(--font-size-small);
  padding: 0.6rem 1rem;
  margin-left: 1rem;
  transform: scale(0.98);
  background-color: var(--dark-background);
  border-radius: 0.5rem;
  color: var(--main-text-color);
  transition: transform 0.25s ease, color 0.1s ease;
}

button:hover {
  transform: scale(1);
}

button:active {
  transform: scale(0.96);
}

.headerbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark-background);
  padding: 1rem;
  padding-bottom: 0;
  box-shadow: var(--dark-background) 0px 0px 10px;
  height: 5rem;
}

.title {
  margin-left: 1rem;
  margin-top: 0;
  font-size: var(--font-size-large);
  font-weight: 400;
}

.headerbutton {
  margin-top: 0;
  margin-left: 5rem;
  font-size: var(--font-size-medium);
  font-weight: 300;
  cursor: pointer;
  transition: color 0.25s ease, transform 0.25s ease, font-weight 0.25s ease;
  transform: scale(0.98);
}

.headerbutton:hover {
  transform: scale(1);
  color: var(--highlighted-text-color);
}

.selected {
  font-weight: 600;
}

.section {
  display: flex;
  flex-direction: column;
}

.problem {
  padding: 1rem 2rem;
  height: fit-content;
  width: 80rem;
  font-weight: 300;
  color: var(--dark-text);
}

.answerform {
  background-color: var(--light-background);
  width: fit-content;
  margin-left: 1rem;
  padding: 0.8rem 1rem 0rem 1rem;
  margin-bottom: -2rem;
  color: var(--dark-text);
}

.answerlabel {
  font-size: var(--font-size-small);
  font-weight: 600;
  margin-right: 0.5rem;
  color: var(--dark-text);
}

.answerinput {
  border-color: var(--dark-text);
  background-color: transparent;
  color: var(--dark-text);
  border-radius: 0.2rem;
  border-style: solid;
  font-family: "Open Sans";
  font-size: calc(var(--font-size-small) * 0.8);
  outline: none;
  margin-bottom: 1rem;
}

.answerinput[type="radio"], .answerinput[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  top: 0.2rem;
  border: 0.1rem solid var(--dark-text);
  appearance: none;
  margin: 0 0 0 0.75rem;
}

.answerinput[type="radio"]:checked, .answerinput[type="checkbox"]:checked {
  background-color: var(--dark-text);
}

.answerinput[type="number"]::-webkit-inner-spin-button, .answerinput[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.response {
  margin-left: 1rem;
  color: var(--dark-text);
}

.confettiholder {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.confetti {
  position: absolute;
  top: 0;
}

.selectproblems {
  border: none;
  font-size: var(--font-size-small);
  color: var(--dark-text);
  background: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.explanation {
  font-size: var(--font-size-small);
  font-weight: 400;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--dark-text);
  width: fit-content;
  height: fit-content;
  padding: 0.7rem 1rem;
  align-items: flex-end;
  float: right;
  margin-right: 2rem;
}

.column {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--dark-background);
  justify-content: center;
  box-shadow: #101218 0px 0px 10px;
}

.footertext {
  margin-left: 2rem;
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 0.25s ease;
}

.stat {
  color: var(--dark-text);
  margin-left: 2rem;
  font-weight: 400;
  font-size: var(--font-size-small);
}

.stattitle {
  color: var(--dark-text);
  font-weight: 500;
}

.menu {
  margin-left: 2rem;
}

.chart {
  display: block;
  margin-left: 2rem;
  max-width: 35rem;
  max-height: 35rem;
  position: absolute;
  top: 10rem;
  right: 5rem;
}

.quizoptions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.answerlabelsub {
  margin-left: 2rem;
  font-size: calc(var(--font-size-small) * 0.8);
}

#backgroundtext {
  position: fixed;
  width: 30%;
  word-wrap: break-word;
  height: 100%;
  right: -7rem;
  z-index: -1;
  color: var(--dark-text);
  opacity: 0.1;
  font-size: 2rem;
  font-weight: 100;
  transform: rotateZ(20deg);
}